<%= render 'ortak/page_title', baslik: "Üye Listesi" %>

<ul class="list-group">
  <% @users.each do |user| %>
  <li class="list-group-item">
    <div class="row g-2">
      <div class="col-auto">
        <%= link_to gravatar_for(user, size: 64), user_path(user) %>
      </div>
      <div class="col">
        <h5><%= link_to user.username.capitalize, user_path(user) %></h5>
        <div><%= pluralize(user.tariflers.count, "Tarif") if user.tariflers %></div>
        <% if logged_in? && current_user.admin? && !user.admin? %>
          <%= link_to "Üyeyi Düzenle", edit_user_path(user) %> / 
          <%= link_to "Üyeyi sil", user_path(user), method: :delete, data: {confirm: "Üyeyi ve açmış olduğu tüm tarifleri silmek istediğinizden emin misiniz?"} %>
      <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<div class="d-flex justify-content-center">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>