<%= render 'ortak/page_title', baslik: @tarifler.isim %>

<div class="card mb-3">
  <div class="card-header">
    <div class="row align-items-center g-2">
      <div class="col">
        <h5 class="mb-0"><b>Yapılış ve malzemeler:</b></h5>
      </div>
      <div class="col-auto">
        <b>Paylaşılma tarihi:</b> <%= time_ago_in_words(@tarifler.created_at) %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div><%= simple_format(@tarifler.aciklama) %></div>
    <% if @tarifler.malzemes.any? %>
        <div class="row g-2">
          <div class="col-auto">
            <%= fa_icon "bars" %>
            Malzemeler:
          </div>
          <div class="col-auto">
            <div class="row g-1">
              <%= render @tarifler.malzemes %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="card-footer">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            <%= link_to gravatar_for(@tarifler.user, size: 32), user_path(@tarifler.user) %>
          </div>
          <div class="col-auto fw-medium">
            <b>Yazar:</b> <%= link_to @tarifler.user.username.capitalize, user_path(@tarifler.user) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-between g-2">
  <div class="col-auto">
    <%= link_to "Tüm Tarifleri Gör", tariflers_path, class: "btn btn-info" %>
  </div>
  <% if logged_in? && (current_user == @tarifler.user || current_user.admin?) %>
  <div class="col-auto">
    <%= link_to "Tarifi düzenle", edit_tarifler_path(@tarifler), class: "btn btn-dark" %>
    <%= link_to "Tarifi Sil", tarifler_path(@tarifler), method: :delete, data: { confirm: "Silmek istediğinize emin misiniz?"}, class: "btn btn-danger" %>
  </div>
    <% end %>
</div>
<br>
<hr>
<% if logged_in? %>
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">Yorum yap</h5>
    </div>
    <div class="card-body">
      <%= form_for([@tarifler, @yorumlar], :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group mb-3">
              <%= f.text_area :aciklama, rows:5, class:"form-control", placeholder: "Yorumunuzu giriniz." %>
            </div>
            <%= f.submit "Yorum Gönder", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
<% end %>
<hr>
<div class="row align-items-center justify-content-between g-2">
 <% if @tarifler.yorumlars != 0 %>
  <div>
      <h4 class="section__title">Yorumlar:</h4>
      <div id="messages">
        <div class="row g-4">
          <%= render partial: "yorumlars/yorumlars", object: @yorumlars %>
        </div>
      </div>
  </div>
  <% else %>
    <div class="row align-items-center g-1">
      <div class="col-auto">
        <h4>Hiç yorum yapılmamış.</h4>
      </div>
    </div>
  <% end %>

</div>