<%= render 'ortak/page_title', baslik: @tarifler.isim %>

<div class="card mb-3">
  <div class="card-header">
    <div class="row align-items-center g-2">
      <div class="col">
        <h5 class="mb-0"><b>Yapılış ve malzemeler:</b></h5>
      </div>
      <div class="col-auto">
        <b>Paylaşılma tarihi:</b> <%= time_ago_in_words(@tarifler.created_at) %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= simple_format(@tarifler.aciklama) %>
  </div>
  <div class="card-footer">
    <div class="row align-items-center g-1">
      <div class="col-auto">
        <%= link_to gravatar_for(@tarifler.user), tariflers_path %>
      </div>
      <div class="col-auto">
        <b>Yazar:</b> <%= link_to @tarifler.user.username.capitalize, user_path(@tarifler.user) %>
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-between g-2">
  <div class="col-auto">
    <%= link_to "Tüm Tarifleri Gör", tariflers_path, class: "btn btn-info" %>
  </div>
  <% if logged_in? && current_user == @tarifler.user %>
  <div class="col-auto">
    <%= link_to "Tarifi düzenle", edit_tarifler_path(@tarifler), class: "btn btn-dark" %>
    <%= link_to "Tarifi Sil", tarifler_path(@tarifler), method: :delete, data: { confirm: "Silmek istediğinize emin misiniz?"}, class: "btn btn-danger" %>
  </div>
    <% end %>
</div>